@model Clinic.Models.Ocorrencia

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NOME_CLINICA)</th>
            <th>@Html.DisplayNameFor(model => model.NOME_MEDICO)</th>
            <th>@Html.DisplayNameFor(model => model.SITE_CLINICA)</th>
            <th>@Html.DisplayNameFor(model => model.ATRASO_MEDIO)</th>
            <th>@Html.DisplayNameFor(model => model.NUMERO_OCORRENCIAS)</th>
            <th>@Html.DisplayNameFor(model => model.Endereco)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.NOME_CLINICA)</td>
            <td>@Html.DisplayFor(model => model.NOME_MEDICO)</td>
            <td>@Html.DisplayFor(model => model.SITE_CLINICA)</td>
            <td>@Html.DisplayFor(model => model.ATRASO_MEDIO)</td>
            <td>@Html.DisplayFor(model => model.NUMERO_OCORRENCIAS)</td>
            <td>@Html.DisplayFor(model => model.Endereco)</td>
        </tr>
    </tbody>
</table>

<p>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            @if (Request.IsAuthenticated)
            {
                <div class="btn btn-info">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_OCORRENCIA })
                </div>
                <div class="btn btn-default">
                    @Html.ActionLink("Cancelar", "Index")
                </div>
            }
            else
            {
                <div class="btn btn-default">
                    @Html.ActionLink("Voltar", "Index")
                </div>
            }
        </div>
    </div>
</p>
